[Desktop Entry]
Name=CLion
Type=Application
Exec=/usr/local/bin/{{ clion_exec }}
Terminal=false
Icon=/opt/{{ clion_path }}/{{ clion_icon }}
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=CLion
Name[en_US]=CLion