[Desktop Entry]
Name=Eclipse C/C++
Type=Application
Exec=/usr/local/bin/{{ eclipse_cpp_exec }}
Terminal=false
Icon=/opt/{{ eclipse_path }}/{{ eclipse_cpp_icon }}
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=Eclipse C/C++
Name[en_US]=Eclipse C/C++