[Desktop Entry]
Name=Eclipse Java
Type=Application
Exec=/usr/local/bin/{{ eclipse_java_exec }}
Terminal=false
Icon=/opt/{{ eclipse_java_path }}/{{ eclipse_java_icon }}
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=Eclipse Java
Name[en_US]=Eclipse Java