[Desktop Entry]
Name=IntelliJ IDEA
Type=Application
Exec=/usr/local/bin/{{ intellij_exec }} 
Terminal=false
Icon=/opt/{{ intellij_path }}/bin/{{ intellij_icon }}
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=IntelliJ IDEA
Name[en_US]=IntelliJ IDEA