[Desktop Entry]
Name=Netbeans IDE
Type=Application
Encoding=UTF-8
Exec=/usr/local/bin/{{ netbeans_exec }}
Terminal=false
Icon=/opt/{{ netbeans_path }}/{{ netbeans_icon }}
Comment=Integrated Development Environment
StartupNotify=true
Categories=GNOME;Application;Development;
Name[en]= Netbeans IDE
Name[en_US]=Netbeans IDE
