[Desktop Entry]
Name = PyCharm
Type = Application
Terminal = false
Exec = /usr/local/bin/{{ pycharm_exec }}
Icon = /opt/{{ pycharm_path }}/bin/{{ pycharm_icon }}
Comment=Integrated Development Environment
Categories = Applicaion;
Name[en]=PyCharm
Name[en_US]=PyCharm

